*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(pexels-oleksandr-pidvalnyi-3036525.jpg);
    background-position: center;
    background-size: cover;
    padding: 1rem;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.heading{
    font-size: 3rem;
    font-weight: normal;
    margin: 5rem 2rem;
    color: orange;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.timer{
    display: flex;
    margin: 2rem;
}

.box{
    text-align: center;
    margin-right: 2rem;
}

.box h3{
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

.box h5{
    font-weight: normal;
    font-size: 3rem;
}