*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.heading{
    color: white;
    font-size: 3rem;
    margin: 2rem;
}

.container{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 16px;
    height: 16px;
    background-color: #000;
    margin: 2px;
    box-shadow: 0 0 2px #fff;
    transition: all 2s ease;
}

.square:hover{
    transition-duration: 0s;
}