*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(185,232,228);
    background: linear-gradient(90deg, rgba(185,232,228,1) 0%, rgba(215,196,237,1) 100%);;
}

.container{
    width: 400px;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
    height: auto;
}

h2{
    padding: 1rem 1.5rem;
    text-align: center;
}

.text-box{
    margin: 1rem 1.5rem;
}

.text-box .question {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.text-box .answer{
    margin-bottom: 1rem;
}

.text-box .answer .answer-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: .7rem;
}

.text-box .answer .answer-list label{
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
}

button{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(247, 169, 247);
    padding: 1rem 1.5rem;
}

button:active{
    background-color: #98ffd7;
}